body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EDEDED;
}

a {
  color: #00B7FF;
}

.wrapper {
	width: 500px;
	margin: 0 auto;
}

.producer {
	margin: 20px 0;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 10px;
}

.scrape-btn {
	display: block;
	padding: 10px;
	background-color: #B72D16;
	color: white;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
}